# 시작

In [1]:
print("hello pyton")

hello pyton

In [2]:
print(3)

3

In [4]:
number=25
print(number)

25

In [5]:
print("숫자는", number)

숫자는 25

In [8]:
SALE = 123*456
print("오늘의 매출은", SALE, "입니다.")

오늘의 매출은 56088 입니다.

In [11]:
성장율 = (1500 - 1000)/1000*100
print("이번달의 성장률은", 성장율, "% 입니다")

이번달의 성장률은 50.0 % 입니다

In [13]:
이달매출 = 2500
지난달매출 = 1000
성장율 = (이달매출 - 지난달매출)/지난달매출*100
print("이번달의 성장률은", 성장율, "%입니다")

이번달의 성장률은 150.0 %입니다

In [22]:
이달매출 = input('이번달 매출액을 입력하세요 : ')
지난달매출 = input('지난달 매출액을 입력하세요 : ')
print( 이달매출, 지난달매출)

이번달 매출액을 입력하세요 :  1000
지난달 매출액을 입력하세요 :  2000

1000 2000

In [32]:
name = input("당신의 이름을 입력해주세요 :")
print(f"반갑습니다. {name}님")

당신의 이름을 입력해주세요 : 유태상

반갑습니다. 유태상님

# print()의 활용

In [3]:
가격 = 1000
수량 = 10
매출 = 가격*수량
print(매출)

10000

In [5]:
print('이번달 매출은', 매출, '입니다', sep='')

이번달 매출은10000입니다

In [6]:
과일목록1='사과'
과일목록2='바나나'
과일목록3='오렌지'
print(과일목록1, 과일목록2, 과일목록3, sep=', ')

사과, 바나나, 오렌지

# data type

In [21]:
12345, '12345'

(12345, '12345')

In [22]:
type(12345), type('12345')

(int, str)

In [23]:
data = 1234
data2 = '12345'
type(data), type(data2)

(int, str)

In [26]:
12345 + 10, '12345' + '10'

(12355, '1234510')

In [28]:
data + 10, data2 + '10'

(1244, '1234510')

In [35]:
name = '유태상'
age = 30
#stringformat
print("나의 이름은 {}이고, 나이는 {}입니다.".format(name, age))

나의 이름은 유태상이고, 나이는 30입니다.

In [37]:
#fstring
print(f"나의 이름은 {name}이고, 나이는 {age}입니다.")

나의 이름은 유태상이고, 나이는 30입니다.

In [42]:
name = input("이름을 입력하세요:")
print(f"입력한 이름 : {name}")

age =int(input("나이를 입력하세요:"))
print(f"내년 나이 : {age+1}")

이름을 입력하세요: 유태상

입력한 이름 : 유태상

나이를 입력하세요: 29

내년 나이 : 30

In [43]:
int('10')

10

In [44]:
int(age)+1

30

In [45]:
type(int(age)+1)

int

In [46]:
age = '열살'
type(age)

str

In [48]:
age = 20.8
type(age)

float

In [49]:
student_name = '유태상'
name_1 = '유태상'

In [50]:
x=10
a=20

In [51]:
PI = 3.141592 #constant 상수

In [52]:
MAX_VALUE = 1000
MIN_VALUE = 0

In [55]:
#input() #shift+tab 키 매개변수 확인
print(abs(-3.14)) #tab

3.14

In [64]:
a = 30, 20, 10 #패킹
type(a), a

(tuple, (30, 20, 10))

In [66]:
x,y,z = a  #언패킹
x,y,z

(30, 20, 10)

In [68]:
x,y

(30, 20)

In [69]:
b=(30,)
type(b)

tuple

In [70]:
a=10
b=a
a,b

(10, 10)

In [71]:
id(a), id(b)

(140707109628632, 140707109628632)

In [73]:
a=20
id(a), id(b)

(140707109628952, 140707109628632)

In [74]:
a=10
id(a)

140707109628632

In [76]:
user_name = '유태상'  #snake
userName = '유태상'   #camel
_name = '유태상'    #private
__name__ = '유태상'    #더블언더스코어 '던더'

In [2]:
a = 'hi'
b = 'Hi'
id(a), id(b)

(140707109671392, 2443332972256)

In [78]:
a= 'Hi'
id(a)

2166932890336

In [3]:
a,b

('hi', 'Hi')

# 변수의 영역

지역변수, 전역변수

In [7]:
def local_exam():  #사용자지정함수
        local_var= 100   #지역변수
        print(f"함수내부 : {local_var}")

local_exam()
local_var = 200   #전역변수
local_exam()
print(f"함수외부 : {local_var}")

함수내부 : 100
함수내부 : 100
함수외부 : 200

In [11]:
counter = 0
def inc_counter():
    global counter
    # temp = a + 1
    # a = temp
    counter = counter + 1   # a += 1
    print(counter)
    
    
inc_counter()
inc_counter()
inc_counter()
inc_counter()

1
2
3
4