# 리스트

[] 대괄호로 여러 값을 하나의 변수로 묶어주는 자료구조

In [7]:
score = [ 20,30,50,90,100 ]
score [0]  # 첫번째 학생 점수
score [4], score[-1]

(100, 100)

# 리스트는 순서가 있다 - 인덱싱과 슬라이싱 가능

In [5]:
fruits = ['사과', '바나나', '포도']
mixed = ['사과',20,'바나나',30, True]
matrix = [[1,2], [3,4]]
matrix[0], matrix[0][0]

([1, 2], 1)

In [10]:
str(fruits)

"['사과', '바나나', '포도']"

In [19]:
s_list = 'Hello'
s_list[0] = 'h'

TypeError: 'str' object does not support item assignment

In [20]:
n_list = list(s_list)
type(n_list)
n_list

['H', 'e', 'l', 'l', 'o']

In [21]:
n_list[0] = 'h'
n_list

['h', 'e', 'l', 'l', 'o']

In [22]:
str(n_list)  #함수 : 기능의 집합

"['h', 'e', 'l', 'l', 'o']"

In [24]:
''.join(n_list)  #메소드 : 객체에 종속되어있는 함수

'hello'

In [25]:
list('hello')  # 문자열로 리스트 생성하기

['h', 'e', 'l', 'l', 'o']

In [27]:
[1,2,3,4]  # 리스트 표현으로 생성하기

[1, 2, 3, 4]

In [34]:
a = range(5)
list(a), type(a)

([0, 1, 2, 3, 4], range)

In [30]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [35]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## 복사, 얕은 복사 shallow copy

In [41]:
score = [10,20,30,40,50]
new_score = score
new_score

[10, 20, 30, 40, 50]

In [42]:
new_score[0] = 100
new_score

[100, 20, 30, 40, 50]

In [44]:
score

[100, 20, 30, 40, 50]

## 깊은 복사   deep copy

In [46]:
import copy
new_score_1 = copy.copy(score)
new_score_1[0]=99
new_score_1, score

([99, 20, 30, 40, 50], [100, 20, 30, 40, 50])

# 리스트의 연산자 + *

In [51]:
lunch_1 = ['해물라면', '샐러드', '떡볶이']
lunch_2 = ['짜장면', '짬뽕']
lunch_1 + lunch_2

['해물라면', '샐러드', '떡볶이', '짜장면', '짬뽕']

In [52]:
lunch_1 * 2

['해물라면', '샐러드', '떡볶이', '해물라면', '샐러드', '떡볶이']

In [55]:
del lunch_1[0]
lunch_1

['샐러드', '떡볶이']

In [56]:
'떡볶이' in lunch_1

True

In [57]:
'a' in 'abcd'

True

In [82]:
#연습문제
snack_box = ['홈런볼']
#먹고 싶은 간식을 입력받아서 추가하세요.
new_snack = input('먹고 싶은 간식을 알려주세요:').split(',')
snack_box = snack_box + new_snack
snack_box

먹고 싶은 간식을 알려주세요: 초코파이, 마카롱, 젤리

['홈런볼', '초코파이', ' 마카롱', ' 젤리']

In [83]:
n = int(input('몇 박스가 필요하세요?'))
snack_box *= n
snack_box

몇 박스가 필요하세요? 2

['홈런볼', '초코파이', ' 마카롱', ' 젤리', '홈런볼', '초코파이', ' 마카롱', ' 젤리']

In [85]:
del_n = int(input('빼고 싶은 간식이 있으면 번호를 입력하세요'))-1
del snack_box[del_n]
snack_box

빼고 싶은 간식이 있으면 번호를 입력하세요 2

['홈런볼', ' 마카롱', ' 젤리', '홈런볼', '초코파이', ' 마카롱', ' 젤리']

In [86]:
f_name = input('찾고 있는 간식이름을 입력하세요')
if f_name in snack_box:
    print('있어요!')
else : 
    print('없어요')

찾고 있는 간식이름을 입력하세요 홈런볼

있어요!

In [93]:
print('스낵 박스 목록을 확인하세요')
print(snack_box[::-1])

스낵 박스 목록을 확인하세요
['홈런볼', ' 마카롱', ' 젤리', '홈런볼', '초코파이', ' 마카롱', ' 젤리']

In [1]:
snack_box.reverse()
print(snack_box)

NameError: name 'snack_box' is not defined

In [ ]:
# 생성자 creator, function 함수
int(1)  #1
float(1)  #1.0
str()  #"", '' ,""" """, ''' '''

list()  #[]
tuple()  #()
dict()  #{}
set()  #{}

In [ ]:
# 사칙연산자, 비교 연산자, 대입연산자, 논리연산자, 기타
+, -, *, /, %, //
<, >, ==, !=
=, +=, -+, *=, /=
and, or, not, &, |, !
in

In [6]:
# 타입별 메소드 제공
dir('a')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
dir([1,2])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
lunch_1 = ['주먹밥', '치킨', '칼국수']
lunch_2 = ['주먹밥', '치킨', '칼국수']
lunch_1 == lunch_2

True

In [12]:
id(lunch_1) == id(lunch_2)

False

In [13]:
lunch_1 is lunch_2

False

# 리스트와 for문의 활용

In [117]:
students = [{'num':'1','name':'kim', 'kor':80, 'math':90, 'eng':100,},
            {'num':'2','name':'park', 'kor':90, 'math':60, 'eng':80,},
            {'num':'3','name':'hong', 'kor':70, 'math':70, 'eng':80,},
            {'num':'4','name':'hong1', 'kor':70, 'math':70, 'eng':80,},
            {'num':'5','name':'hong2', 'kor':70, 'math':70, 'eng':80,}]        # {}  딕셔너리

In [38]:
#인덱싱하기
students[2]['kor']

70

In [118]:
print(students)

[{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100}, {'num': '2', 'name': 'park', 'kor': 90, 'math': 60, 'eng': 80}, {'num': '3', 'name': 'hong', 'kor': 70, 'math': 70, 'eng': 80}, {'num': '4', 'name': 'hong1', 'kor': 70, 'math': 70, 'eng': 80}, {'num': '5', 'name': 'hong2', 'kor': 70, 'math': 70, 'eng': 80}]

In [39]:
for s in students : 
    print(s)
    print('\n')

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100}


{'num': '2', 'name': 'park', 'kor': 90, 'math': 60, 'eng': 80}


{'num': '3', 'name': 'hong', 'kor': 70, 'math': 70, 'eng': 80}


{'num': '4', 'name': 'hong1', 'kor': 70, 'math': 70, 'eng': 80}


{'num': '5', 'name': 'hong2', 'kor': 70, 'math': 70, 'eng': 80}

In [41]:
for s in students:
    s['total'] = s['kor'] + s['math'] + s['eng']
    print(s['total'])
    print('\n')

270


230


220


220


220

In [42]:
for s in students : 
    print(s)
    print('\n')

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270}


{'num': '2', 'name': 'park', 'kor': 90, 'math': 60, 'eng': 80, 'total': 230}


{'num': '3', 'name': 'hong', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220}


{'num': '4', 'name': 'hong1', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220}


{'num': '5', 'name': 'hong2', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220}

In [65]:
for s in students:
    s['mean'] = round((s['total'])/3,2)
    print(s['mean'])
    print('\n')

90.0


76.67


73.33


73.33


73.33

In [77]:
for s in students:
    print(s)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270, 'mean': 90.0}
{'num': '2', 'name': 'park', 'kor': 90, 'math': 60, 'eng': 80, 'total': 230, 'mean': 76.67}
{'num': '3', 'name': 'hong', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220, 'mean': 73.33}
{'num': '4', 'name': 'hong1', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220, 'mean': 73.33}
{'num': '5', 'name': 'hong2', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220, 'mean': 73.33}

# 리스트의 정렬

In [70]:
num = [5,2,9,3,4,]
sorted(num)

[2, 3, 4, 5, 9]

In [72]:
num

[5, 2, 9, 3, 4]

In [74]:
num.sort()
num

[2, 3, 4, 5, 9]

In [75]:
num

[2, 3, 4, 5, 9]

# 리스트의 메소드

In [104]:
fruits = ['사과', '홍시', '포도', '복숭아']
fruits.append('멜론')
fruits

['사과', '홍시', '포도', '복숭아', '멜론']

In [105]:
fruits.insert(2, '수박')
fruits

['사과', '홍시', '수박', '포도', '복숭아', '멜론']

In [106]:
dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [107]:
fruits.remove('수박')
fruits

['사과', '홍시', '포도', '복숭아', '멜론']

In [108]:
fruits.pop()
fruits

['사과', '홍시', '포도', '복숭아']

In [109]:
fruits.reverse()
fruits

['복숭아', '포도', '홍시', '사과']

# 리스트의 특징

In [129]:
data = list(range(-100,100))
print(data)

[-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [130]:
print(len(data))

200

In [131]:
# 리스트에 양수만 남기기   
# for x in data:
    #if x < 0 :
        #data.remove(x)       --> 큰 리스트의 반복은 비용이 크고 오류가 발생할 확률이 높음

filtered = []
for x in data:
    if x >= 0:
        filtered.append(x)

In [132]:
filtered

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [137]:
# [1,3,5,4,2] -> [5,4,3,2,1,]

s = [1,3,5,4,2]
s.sort()
s.reverse()       # s.sort(reverse=True)
s

[5, 4, 3, 2, 1]

In [162]:
# ['life', 'is', 'too', 'short'] -> "Life is too short"
a = ['Life', 'is', 'too', 'short']
sentence = " ".join(a)
sentence

'Life is too short'

In [151]:
# [1,3,5,7,9] -> [3,5,7,9,1]
b = [1,3,5,7,9]
b.remove(1)
b.append(1)
b                      
# first = b.pop(0)
# b.append(first)

[3, 5, 7, 9, 1]

# 튜플

In [165]:
tuple1 = 1,2,3
tuple1, type(tuple1)

((1, 2, 3), tuple)

In [166]:
tuple([10,20,30])

(10, 20, 30)

In [169]:
t3 = (2,)
t3, type(t3)

((2,), tuple)

In [172]:
t = (10, 20, 30, 40, 50)
t[1], t[-1], t[2:4], t[::-1]

(20, 50, (30, 40), (50, 40, 30, 20, 10))

In [173]:
t_list = list(t)
t_list[0] = 20
t_new = tuple(t_list)
t_new

(20, 20, 30, 40, 50)

# 패킹, 언패킹

In [3]:
nums = [1,2,3]
nums

[1, 2, 3]

In [4]:
nums = (1,2,3)    # 패킹
x,y,z = nums      # 언패킹
x,y,z, nums

(1, 2, 3, (1, 2, 3))

In [5]:
student = ['hong', 20, '1학년']
student [0] + " " + str(student[1]) +" "+ student[2]

'hong 20 1학년'

In [6]:
name, age, grade = ('hong', 20, '1학년')

In [7]:
name + str(age) + grade

'hong201학년'

In [61]:
x=1
y=2
# 출력 >> x=2, y=1

In [65]:
x=1
y=2
tmp = x
x=y
y=tmp
x,y

(2, 1)

In [69]:
x=1
y=2
x,y = y,x
x,y

(2, 1)

# 딕셔너리

In [79]:
person = {'이름':'alice','age':25,'city':'서울'}
person1 = {'이름':'bob','age':30,'city':'부산'}

In [80]:
person['이름']

'alice'

In [81]:
person['age']

25

In [82]:
person['city']

'서울'

In [90]:
for per in person.values():
    print(per)

alice
25
서울

In [92]:
for per, val in person.items():
    print(per,val)

이름 alice
age 25
city 서울

In [93]:
for per in person.items():
    print(per)

('이름', 'alice')
('age', 25)
('city', '서울')

In [96]:
print(person.keys())

dict_keys(['이름', 'age', 'city'])

In [97]:
print(person.values())

dict_values(['alice', 25, '서울'])

In [98]:
print(person.items())

dict_items([('이름', 'alice'), ('age', 25), ('city', '서울')])

In [100]:
print(person.pop('age'))

25

In [102]:
person.update({'이름':'alice','age':26,'city':'서울', '직업':'개발자'})
print(person)

{'이름': 'alice', 'city': '서울', 'age': 26, '직업': '개발자'}

In [104]:
print(person.get('학력', '정보없음'))

정보없음

In [105]:
print(person.get('학력'))

None

In [106]:
d = {"a":1, "b":2}
print(list(d.keys()))

['a', 'b']

In [107]:
print(list(d.values()))

[1, 2]

In [109]:
for k,v in d.items():
    print(k,v)

a 1
b 2

In [110]:
print(d.get("x",0))

0

# 집합

In [113]:
집합1 = set([1,2,3,4])
집합1

{1, 2, 3, 4}

In [114]:
집합2=set([1,2,3,4,4,3,])
집합2

{1, 2, 3, 4}

In [115]:
집합3=set([1,2,3,4]*10)
집합3

{1, 2, 3, 4}

In [116]:
dir(집합3)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# 집합 연산