In [1]:
import pymysql

In [2]:
def getconnections():
  con = pymysql.connections.Connection(
    host='localhost',
    user='root',
    password='0528',
    db='wntrade',
    charset='utf8'
)
  return con

In [3]:
import pandas as pd

In [4]:
sql = """SELECT 도시
	  ,AVG(마일리지) AS 평균마일리지
FROM 고객
group by 도시
HAVING AVG(마일리지) > (SELECT AVG(마일리지) FROM 고객)"""

In [5]:
getconnections()

In [6]:
# 데이터베이스 연결은 항상 try로 감싸기


con = getconnections()
try:
    with con.cursor() as cursor:
        cursor.execute(sql)
        result = cursor.fetchall()
        result_df = pd.DataFrame(result)
            
finally:
    con.close()

In [7]:
result_df

       0           1
0  서울특별시  11137.0800
1    김해시   8758.0000
2  인천광역시  13088.0000
3  대전광역시  14822.0000
4    제주시   8838.0000