In [16]:
kmh = int(input("KMH 값을 입력 하세요 :"))
M_VALUE = 0.6214  #상수
print(type(M_VALUE), type(kmh))
mph = kmh*M_VALUE
print(f"MPH : {mph}")

KMH 값을 입력 하세요 : 50

<class 'float'> <class 'int'>
MPH : 31.069999999999997

In [29]:
kmh = int(input("KMH 값을 입력 하세요 :"))
M_VALUE = 0.6214
if kmh > 0 :
    mph = kmh*M_VALUE
    print(f"MPH : {mph}")
else : 
    print("속도는 양수로 입력하세요")

KMH 값을 입력 하세요 : 1915

MPH : 1189.981

In [38]:
import calendar
theyear = int(input("연도를 입력하세요:"))
themonth = int(input("월을 입력하세요(1~12):"))
if 0 < themonth < 13 :
    print(calendar.month(theyear, themonth))
else :
    print("월을 다시 입력하세요")

연도를 입력하세요: 2026
월을 입력하세요(1~12): 01

    January 2026
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [44]:
first = float(input("첫번째 실수를 입력하세요:"))
second = float(input("두번째 실수를 입력하세요:"))
mul = first * second
add = first + second
output = f"First is {first:g}, and second is {second:g}."\
        +f"So, Multiplication = {mul:.3f},"\
        +f"addition = {add:g}"               # :g, :.3f   소수점 자릿수 결정
print(output)

첫번째 실수를 입력하세요: 4.3
두번째 실수를 입력하세요: 5.21

First is 4.3, and second is 5.21.So, Multiplication = 22.403,addition = 9.51

In [48]:
x=10
x=20
x=15
x, type(x)         #x=15

(15, int)

In [51]:
a = float(input("가로길이를 입력하세요:"))
b = float(input("세로길이를 입력하세요:"))
Area = a * b
Perimeter = 2*(a+b)
if a > 0 and b > 0 :
    print(f"넓이 = {Area}, 둘레 = {Perimeter}")
else : print("가로,세로 길이를 다시 입력하세요")

가로길이를 입력하세요: 123
세로길이를 입력하세요: 456

넓이 = 56088.0, 둘레 = 1158.0

In [58]:
x = int(input("숫자를 입력하세요:"))
나머지 = x%2
if 나머지 == 1 :
    print(f"{x}는 홀수입니다.")
else : print(f"{x}는 짝수입니다.")

숫자를 입력하세요: 12

12는 짝수입니다.

In [59]:
a = float(input())
area = 6*(a**2)
vol = a**3
print(area, vol)

 12

864.0 1728.0

In [62]:
x=4 ; y=2;
z = abs(x-y) * (x+y)    #파이썬에서 절댓값 함수 abs()를 사용
print(z)

12

In [16]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
numbers[0] + numbers[-1]

110

In [1]:
if is_discount:
   print(price * 0.9)
print(price)

NameError: name 'is_discount' is not defined

In [2]:
shirt

NameError: name 'shirt' is not defined

In [21]:
num = list(input('휴대전화 번호를 입력 하세요.'))
if num[2] == '1':
    print('당신은 SKT 사용자입니다.')
elif num[2] == '6':
    print('당신은 KT 사용자입니다.')
elif num[2] == '9':
    print('당신은 LGU 사용자입니다.')
else:
    print('알수없음')

휴대전화 번호를 입력 하세요. 123454789

알수없음

In [28]:
tel_co = {'011':'SKT', '016':'KT', '019':'LGU', '010':'알수없음'}
num = input('휴대전화 번호 입력:').split('-')[0]
msg = tel_co.get(num,'번호확인필요')
print(f'당신은 {msg} 통신사의 사용자입니다.')

휴대전화 번호 입력: 019-1354-1365

'019'

In [1]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
open = float(btc['opening_price'])
max = float(btc['max_price'])
min = float(btc['min_price'])
v = max - min
if open + v > max:
    print('상승장')
else:
    print('하락장')

상승장

In [9]:
a = input('짝수단, 홀수단 둘중에 하나를 입력하세요') 
if a == '짝수단':
    for dan in range(2,10):
         if dan % 2 == 0:
             for i in range(1,10):
                 print(f"{dan}*{i} = {dan*i}")

짝수단, 홀수단 둘중에 하나를 입력하세요 홀수단

In [10]:
a = input('짝수단, 홀수단 둘중에 하나를 입력하세요') 
if a == '홀수단':
    for dan in range(2,10):
         if dan % 2 == 1:
             for i in range(1,10):
                 print(f"{dan}*{i} = {dan*i}")

짝수단, 홀수단 둘중에 하나를 입력하세요 홀수단

3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

In [2]:
for dan in range(2, 5):        # 2, 3, 4
    for i in range(1, 10):     # 1~9
        print(f"{dan} x {i} = {dan * i}", end="\t")
    print()  # 한 단이 끝나면 줄바꿈

print()  # 첫 줄과 둘째 줄 사이를 한 줄 띄움

2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36

In [10]:
while True:
    s = input("정수의 목록을 공백으로 구분해서 입력하세요. 종료:'q'").strip()
    if s.lower() == 'q':
        break                                        
    if s == "":
        print(f'입력한 숫자가 없습니다. 정수를 입력해주세요.')
        continue
   
    t = s.split()
    nums = [int(k) for k in t]   #컴프리헨션
    total = 0
    p_n=[]
    n_n=[]
    for n in nums:
        if n == 0:
            continue
        if n > 0:
            p_n.append(n)
        if n < 0:
            n_n.append(n)
        total += n
    a = len(p_n)
    b = len(n_n)
    print(f'양수: {p_n} {a}개, 음수: {n_n} {b}개 합계:{total}')

print('종료합니다.')

정수의 목록을 공백으로 구분해서 입력하세요. 종료:'q' 15 -5 4 5 1 8 9 1 3 -45 -4 -9 -7 -10 -79 13513 4561 -4615

양수: [15, 4, 5, 1, 8, 9, 1, 3, 13513, 4561] 10개, 음수: [-5, -45, -4, -9, -7, -10, -79, -4615] 8개 합계:13346

정수의 목록을 공백으로 구분해서 입력하세요. 종료:'q' q

종료합니다.

In [18]:
v_list = input('vip 목록을 공백을 기준으로 입력하세요.').split()
for i in v_list:
    print(f'{i}님 안녕하세요?\n화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 {i}님을 초대합니다.\n쿠폰 No.\n{i}님 축제에서 만나길 고대하겠습니다.')

vip 목록을 공백을 기준으로 입력하세요. 조인성 김우빈 이광수 도경수

조인성님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 조인성님을 초대합니다.
쿠폰 No.
조인성님 축제에서 만나길 고대하겠습니다.
김우빈님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 김우빈님을 초대합니다.
쿠폰 No.
김우빈님 축제에서 만나길 고대하겠습니다.
이광수님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 이광수님을 초대합니다.
쿠폰 No.
이광수님 축제에서 만나길 고대하겠습니다.
도경수님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 도경수님을 초대합니다.
쿠폰 No.
도경수님 축제에서 만나길 고대하겠습니다.

In [18]:
# 정수 n을 입력받았을 때 n개의 피보나치 수열 출력함수 
def fibonacci_n(n):
    # n개의 피보나치 수열을 리스트로 만들어 반환
    seq = []
    a, b = 0, 1
    for _ in range(n):
        seq.append(a)
        a, b = b, a + b
    return seq

# 입력받아 출력
n = int(input("정수 n 입력: "))
print(fibonacci_n(n))

정수 n 입력:  2

[0, 1]

In [20]:
s = input("문자열 입력: ").strip()

result = ""
count = 1

for i in range(1, len(s)):
    if s[i] == s[i-1]:
        count += 1
    else:
        result += s[i-1] + str(count)
        count = 1

# 마지막 문자 처리
if s:
    result += s[-1] + str(count)

print(result)

문자열 입력:  aaabbcccccca

a3b2c6a1

In [28]:
def chk(s):
    result = True
    val_list = []
    for num in s:
        if num not in val_list:
            val_list.append(num)
        else: 
            result = False
    if len(val_list) != 10:
        result = False
    return result

chk('0128894568')

False

In [31]:
def convert_int(s):
    result = s.replace(',','')
    return int(result)
convert_int('13513215,12,5,31,1,8,1')

1351321512531181

In [38]:
def sal_calc():
    result = 0
    sal = int(input(f'월급을 입력하세요:'))
    tax = sal * (-0.1)
    net_sal = sal * 0.9
    
    print(f'월급: {sal:,}원')
    print(f'세금: {tax:,}원')
    print(f'실수령: {net_sal:,}원')

sal_calc()

월급을 입력하세요: 54000000

월급: 54,000,000원
세금: -5,400,000.0원
실수령: 48,600,000.0원